<h1>Please Hire Me</h1>
<%= link_to 'Blog', posts_path %>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-8'>
      <%= image_tag("creaturecapture.png", alt: 'Creature Capture', width: 200, height: 200 ) %>
      <%= image_tag("treefrog.png", alt: 'treefrog', width: 200, height: 200 ) %>
    </div>
    <div class='col-md-3'></div>
  </div>
    <div class='row'>
      <div class='col-md-3'></div>
      <div class='col-md-8'>
        <%= image_tag("nanocrafter.png", alt: 'Creature Capture', width: 200, height: 200 ) %>
        <%= image_tag("refraction.png", alt: 'treefrog', width: 200, height: 200 ) %>
      </div>
      <div class='col-md-3'></div>
  </div>
</div>